apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mysql.fullname" . }}
  labels:
    {{- include "mysql.labels" . | nindent 4 }}
data:
  {{- range $key, $value := .Values.configMap }}
    {{ $key }}: {{ $value }}
  {{- end }}